<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Chat</title>
  </head>

  <body>
    <h1>User Details</h1>
    <table>
        <tr>
            <td>User ID</td>
            <td th:text="${model.id}"></td> 
        </tr>
        <tr>

            chat
            <br/>
            <td>
                <div>  



                </div>
                <div>
                     <form action="#" th:action="@{'/message/'+${model.id}}" th:object="${message}" method="post">
                        <p>Id: <input type="text" th:field="*{message}" /></p>
                       
                        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                     </form>  
                </div>

            </td>

        </tr>

    </table>
   
  </body>

</html>